.contact_main {
    width: 100%;
    margin: 50px 0 0 0;
}

.contact_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
  }
  
  .contact_heading h2 {
    color: rgb(141, 141, 141);
    border-bottom: 2px solid goldenrod;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

.contact_inner {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contact_map {
    width: 70%;
    height: 400px;
}

.contact_info {
   width: 30%;
   padding-left: 20px;
   background-color: rgb(246, 246, 246);
   height: 400px;
   display: flex;
   align-items: left;
   justify-content: center;
   flex-direction: column;
}

.contact_info_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact_info_div p:nth-child(1) {
    font-size: 20px;
    color: rgb(92, 90, 90);
}

.contact_info_div span {
    padding-right: 10px;
    color: goldenrod;
    margin-top: 5px;
}

.contact_info a {
    padding: 10px 0;
    color: goldenrod;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
}

/* contact form css start */

.contact_form_main {
    border-radius: 10px;
    width: 40%;
    margin: 100px 30% 0 30%;
    padding: 20px 50px;
    background-color: rgb(246, 246, 246);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.myinput {
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid goldenrod;
    border-radius: 5px;
    outline: none;
    color: goldenrod;
    background: none;
    font-family: 'Jaldi', sans-serif;
    letter-spacing: 1px;

}

.myinput::placeholder {
    color: rgb(180, 177, 177);
    font-weight: 300;
}

.contact_form_btn button {
    padding: 7px 15px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    font-size: 20px;
    color: goldenrod;
    margin: 10px 5px 20px 5px;
    transition: all 0.5s linear;
}

.contact_form_btn button:nth-child(1) {
    margin-left: 20px;
}

.contact_form_btn button:hover {
    background-color: goldenrod;
    color: white;
}

.error {
    color: rgb(233, 65, 65);
    padding-left: 15px;
}



/* footer start here */


.footer {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.footer p {
    color: rgb(147, 146, 146);
    letter-spacing: 1px;
}

.footer span {
    color: goldenrod;
    font-weight: 700;
}













/* =========== responsive size 998px start =============================*/


@media (max-width: 998px) {
    .contact_main {
        margin: 50px 0 0 0;
    }
      
   .contact_heading h2 {
        font-size: 28px;
        padding-bottom: 10px;
   }
    
    .contact_inner {
        width: 96%;
        margin: 0 2%;
        flex-direction: row;
        border-radius: 10px;
    }
    
    .contact_map {
        width: 60%;
        height: 350px;
    }
    
    .contact_info {
       width: 40%;
       padding-left: 20px;
       height: 350px;
       align-items: left;
       justify-content: center;
    }
    
    .contact_info_div {
        flex-direction: row;
        align-items: center;
    }
    
    .contact_info_div p:nth-child(1) {
        font-size: 18px;
    }
    
    .contact_info_div span {
        padding-right: 10px;
        margin-top: 5px;
    }
    
    .contact_info a {
        padding: 10px 0;
        font-size: 17px;
    }
    

    /* contact form css start */
    
    .contact_form_main {
        width: 70%;
        margin: 100px 15% 0 15%;
        padding: 20px 40px;
    }
    
    .myinput {
        width: 100%;
        font-size: 17px;
        padding: 8px 20px;
        margin: 18px 0;    
    }
    
    .contact_form_btn button {
        padding: 7px 15px;
        border-radius: 5px;
        font-size: 18px;
        margin: 10px 5px 20px 5px;
    }
        
    .error {
        padding-left: 12px;
        font-size: 17px;
    }
    
    
    
    /* footer start here */
    
    
    .footer {
        margin-top: 50px;
        height: 40px;
    }
    
    .footer p {
        font-size: 17px;
    }
}









/* =========== responsive size 768px start =============================*/


@media (max-width: 768px) {
    .contact_main {
        margin: 50px 0 0 0;
    }
      
   .contact_heading h2 {
        font-size: 26px;
        padding-bottom: 8px;
   }
    
    .contact_inner {
        width: 90%;
        margin: 20px 5% 0 5%;
        flex-direction: column;
        border-radius: 10px;
    }
    
    .contact_map {
        width: 100%;
        height: 350px;
    }
    
    .contact_info {
       width: 100%;
       padding-left: 50px;
       height: 200px;
       align-items: start;
       justify-content: center;
    }
    
    .contact_info_div {
        flex-direction: row;
        align-items: center;
    }
    
    .contact_info_div p:nth-child(1) {
        font-size: 18px;
    }
    
    .contact_info_div span {
        padding-right: 10px;
        margin-top: 5px;
    }
    
    .contact_info a {
        padding: 10px 0;
        font-size: 17px;
    }
    

    /* contact form css start */
    
    .contact_form_main {
        width: 80%;
        margin: 100px 10% 0 10%;
        padding: 20px 40px;
    }
    
    .myinput {
        width: 100%;
        font-size: 17px;
        padding: 8px 20px;
        margin: 18px 0;    
    }
    
    .contact_form_btn button {
        padding: 7px 15px;
        border-radius: 5px;
        font-size: 18px;
        margin: 10px 5px 20px 5px;
    }
        
    .error {
        padding-left: 12px;
        font-size: 17px;
    }
    
    
    
    /* footer start here */
    
    
    .footer {
        margin-top: 50px;
        height: 40px;
    }
    
    .footer p {
        font-size: 17px;
    }
}










/* =========== responsive size 612px start =============================*/


@media (max-width: 612px) {
    .contact_main {
        margin: 40px 0 0 0;
    }
      
   .contact_heading h2 {
        font-size: 22px;
        padding-bottom: 6px;
   }
    
    .contact_inner {
        width: 96%;
        margin: 20px 2% 0 2%;
        flex-direction: column;
        border-radius: 5px;
    }
    
    .contact_map {
        width: 100%;
        height: 350px;
    }
    
    .contact_info {
       width: 100%;
       padding-left: 20px;
       height: 200px;
       align-items: start;
       justify-content: center;
    }
    
    .contact_info_div {
        flex-direction: row;
        align-items: center;
    }
    
    .contact_info_div p:nth-child(1) {
        font-size: 17px;
    }
    
    .contact_info_div span {
        padding-right: 10px;
        margin-top: 5px;
    }
    
    .contact_info a {
        padding: 10px 0;
        font-size: 17px;
    }
    

    /* contact form css start */
    
    .contact_form_main {
        width: 90%;
        margin: 100px 5% 0 5%;
        padding: 20px 30px;
    }
    
    .myinput {
        width: 100%;
        font-size: 16px;
        padding: 7px 20px;
        margin: 15px 0;    
    }
    
    .contact_form_btn button {
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 16px;
        margin: 10px 5px 20px 5px;
    }
        
    .error {
        padding-left: 10px;
        font-size: 16px;
    }
    
    
    
    /* footer start here */
    
    
    .footer {
        margin-top: 40px;
        height: 40px;
    }
    
    .footer p {
        font-size: 16px;
    }
}









/* =========== responsive size 460px start =============================*/


@media (max-width: 460px) {
    .contact_main {
        margin: 40px 0 0 0;
    }
      
   .contact_heading h2 {
        font-size: 20px;
        padding-bottom: 5px;
   }
    
    .contact_inner {
        width: 100%;
        margin: 20px 0 0 0;
        flex-direction: column;
        border-radius: 0;
    }
    
    .contact_map {
        width: 100%;
        height: 320px;
    }
    
    .contact_info {
       width: 100%;
       padding-left: 20px;
       height: 250px;
       align-items: start;
       justify-content: center;
    }
    
    .contact_info_div {
        flex-direction: row;
        align-items: center;
    }
    
    .contact_info_div p:nth-child(1) {
        font-size: 17px;
    }
    
    .contact_info_div span {
        padding-right: 10px;
        margin-top: 5px;
    }
    
    .contact_info a {
        padding: 10px 0;
        font-size: 16px;
    }
    

    /* contact form css start */
    
    .contact_form_main {
        width: 96%;
        margin: 100px 2% 0 2%;
        padding: 20px 10px;
    }
    
    .myinput {
        width: 90%;
        font-size: 15px;
        padding: 7px 10px;
        margin: 12px 5%;    
    }
    
    .contact_form_btn button {
        padding: 7px 15px;
        border-radius: 5px;
        font-size: 16px;
        margin: 10px 5px 20px 5px;
    }
        
    .error {
        padding-left: 8px;
        font-size: 16px;
    }
    
    
    
    /* footer start here */
    
    
    .footer {
        margin-top: 40px;
        height: 40px;
    background-color: rgb(221, 220, 220);

    }
    
    .footer p {
        font-size: 15px;
    }
}